/*CSD460 - Red Team
Joshua Rex, Taylor Nairn, Benjamin Andrew, Wyatt Hudgins
CSD 460, Professor Sue Sampson
This file handles styling for the website
*/

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #37989B, #F4D791);
}

.restricted-container {
	max-width: 800px;
	margin: 2rem auto;
	padding: 2rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.color-primary {
	color: #37989B !important;
}

.color-secondary {
	color: #F4D791 !important;
}

.underline-secondary {
	border-bottom: 2px solid #F4D791;
	display: inline-block;
}

.border-right-secondary {
	border-right: 2px solid #F4D791;
}

.btn-light {
	background-color: #79ccbc !important;
	color: whitesmoke !important;
}

.btn-logout {
	background-color: #ff1f1f !important;
	color: whitesmoke !important;
    float: right;
}

.main-logo {
	width: 40%;
	height: 40%;
	margin-right: 20px;
}

.navbar {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-menu li {
	display: inline-block;
	margin-right: 20px;
}

.main-menu a {
	text-decoration: none;
	color: inherit;
	transition: border-bottom 0.3s;
	font-size: 18px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.main-menu a:hover {
	border-bottom: 2px solid #333;
}

.intro-paragraph {
	font-size: 18px;
}

.quote-paragraph {
    padding: 40px;
    font-size: 26px;
    background-color: white;
    border-radius: 20px;
    color: #333; /* or any other text color you prefer */
    border: 6px solid #F4D791; /* adding a 2px solid border with the mustard yellow color */
    box-shadow: 15px 15px 20px rgba(196, 172, 112, 0.5); /* Updated box-shadow property */
}

.spacer {
	padding-top: 70px;
}

.accomodations-img-wrapper {
	display: flex;
	justify-content: center;
}

.accomodations-img-wrapper img {
	width: 336px;
	height: 336px;
	border-radius: 20px;
	object-fit: cover;
    object-position: center;
}

.footer-logo {
	width: 300px;
	height: auto;
}

footer {
	background-color: #37989B;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 70px;
}

footer a {
	color: #fff;
}

footer a:hover {
	text-decoration: none;
	color: #ddd;
}

footer h5 {
	margin-bottom: 1rem;
}

footer.text-light {
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.tex-shadow-sm {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-shadow-lg {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.border-radius {
	border-radius: 20px;
}

.banner {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner-overlay {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;
	height: 100%;
	background-image: linear-gradient(to right, rgba(55, 152, 155, 0.6), rgba(55, 152, 155, 0));
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
}

.banner-text {
	color: white;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-item {
  width: 100%;
  height: 50%; /* Adjust the height as needed */
  object-fit: cover;
}

.password-requirements-popup {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

@media (min-width: 767px) {
	.width-80 {
		width: 80%;
		margin: auto;
	}
}

.password-requirements-popup p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.sticky-footer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sticky-footer .main-content {
	flex: 1;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-width: fit-content;
    width: auto;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
}

.dropdown-menu a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef;
}

.dropdown-menu a:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item {
    margin: 0;
    padding: 0;
}

.dropdown-toggle::after {
    display: none;
}